<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-4">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchByName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>stock List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let stock of stocks; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentstock(stock, i)">
  {{ stock.name  }} ---  {{ stock.price  }}
        </li>
      </ul>
  
      <button class="m-4 btn btn-sm btn-danger" (click)="deleteAllstocks()">
        Delete All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentstock">
        <h4>stock</h4>
        <div>
          <label><strong>Name:</strong></label> {{currentstock.name}}
        </div>
        <div>
          <label><strong>price</strong></label>{{currentstock.price}}
  
        </div>
        
  
        <a class="badge badge-warning" routerLink="/stocks/">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentstock">
        <br />
        <p>Please click on a stock</p>
      </div>
    </div>
  </div>